%price {
  bottom: -50px;
  font-size: 1.25em;
  @media (min-width: $mobile-600) {
    font-size: 1.5em;
  }
  @media (min-width: $mobile-736) {
    font-size: 1.75em;
  }
}

.mobile {
  .calculate {
    text-align: left;
    padding-top: 50px;
    padding-bottom: 0;
    overflow-x: hidden;
    .general-price {
      @extend %price;
      margin-top: 20px !important;
    }
    .general-rent {
      @extend %price;
      position: static;
      margin-top: 15px;
    }
    .left-block {
      float: none;
      width: 100%;
      .scenario {
        margin-bottom: 30px;
      }
    }
    .dark-section-title {
      margin-bottom: 15px;
    }
    .right-block {
      padding-top: 50px;
      float: none;
      width: 100%;
      right: 0;
    }
    .order-btn {
      height: 30px;
      line-height: 32px;
      bottom: -55px;
      @media (min-width: $mobile-600) {
        height: 61px;
        line-height: 63px;
      }
    }
    .general-price {
      margin-top: 30px;
      position: static;
      display: block;
    }
    .order-btn {
      position: static;
      margin-top: 30px;
      margin-bottom: 30px;
      display: inline-block;
    }

    .time {
      margin-bottom: 70px;
    }
    @media (max-width: 500px) {
      .scale-list {
        bottom: -17px !important;
        font-size: 0.875em;
      }
      .heroes {
        .scale-list {
          li {
            &:first-child {
              left: 0;
            }
            &:nth-child(2) {
              left: 42px;
            }
            &:nth-child(3) {
              left: 121px;
            }
            &:nth-child(4) {
              left: 177px;
            }
            &:nth-child(5) {
              left: 233px;
            }
            &:nth-child(6) {
              left: 289px;
              .short {
                display: block;
              }
              .more {
                display: none;
              }
            }
          }
        }
      }
      .time {
        .scale-list {
          li {
            &:first-child {
              left: 0;
            }
            &:nth-child(2) {
              left: 46px;
            }
            &:nth-child(3) {
              left: 86px;
            }
            &:nth-child(4) {
              left: 148px;
            }
            &:nth-child(5) {
              left: 197px;
            }
            &:nth-child(6) {
              left: 246px;
            }
            &:nth-child(7) {
              .short {
                display: block;
              }
              .more {
                display: none;
              }
              left: 289px;
            }
          }
        }
      }
    }
    .another-features-list + .clearfix {
      display: table-row;
      .warning {
        display: table-cell;
        padding-right: 20px;
        float: none;
      }
      .small-text-block {
        width: auto;
        display: table-cell;
        float: none;
      }
    }
    .calculate-wrapper {
      width: 90%;
      margin: 0 auto;
    }
    .another-features .another-features-list .feature-description {
      display: none !important;
    }
  }
}