.mobile {
  .our-contacts-table {
    .contacts-info {
      width: 100%;
      text-align: center;
      .contacts-info-wrapper {
        padding-right: 0;
        width: 90%;
        max-width: 407px;
      }
    }
    .map {
      width: 100%;
    }
  }
}