.mobile {
  .content-block {
    .content-wrapper {
      text-align: left;
      @extend %standard-mobile-layout-center-wrapper;
    }
    h2 {
      width: 100%;
      margin: 0 auto;
      @extend %standard-section-title;
    }
    p {
      @extend %standard-text-block;
    }
    .section-description {
      @extend %standard-section-description;
    }
  }
}