.mobile {
  .heroes-quests {
    padding-top: 50px;
    .heroes {
      left: 0;
      width: 100%;
    }
    .notice {
      text-align: center;
      margin: 20px auto 30px;
      .pic {
        position: relative;
        left: -8px;
        margin: 0 auto;
        @include size(51px, 68px);
        background: url("../images/sprite/mobile/mobile-sprite.png") 0 0 no-repeat;
      }
      .owl-status {
        font-size: medium;
        color: $middle-gray;
      }
      .text {
        font-size: 1em;
        color: $middle-gray;
        margin-top: 10px;
      }
    }
    .hero {
      display: block;
      margin: 0 auto;
      .hero-info {
        .line {
          display: block;
        }
        background: $base-color;
        .hero-name {
          font-size: 1.25em;
        }
        .quest-name {
          font-size: 1em;
        }
      }
    }
  }
}