$mobile-menu-header-h: 70px;
$small-mobile-menu-icon-w: 36px;
$small-mobile-menu-icon-h: 30px;
$small-mobile-arrow-w: 16px;
$small-mobile-arrow-h: 14px;
$back-icon-w: 30px;
$back-icon-h: 35px;

.mobile {
  .menu-mobile {
    background: $yellow;
    @extend %standard-header;
    &.popup-menu {
      display: none;
      position: fixed;
      z-index: 12;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      min-height: 100%;
      min-height: 100vh;
    }
    &.popup-menu.active {
      display: block;
    }
    .layout-center-wrapper {
      right: 0;
    }
    .menu-block-section {
      padding-bottom: 35px;
      margin-bottom: 0;
    }
    padding-top: 0 !important;
    header {
      position: relative;
      z-index: 5;
      .section-title {
        text-transform: none;
      }
      height: $mobile-menu-header-h;
      line-height: $mobile-menu-header-h + 2;
      .back {
        display: block;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
        float: left;
        padding-left: 26px;
        position: relative;
        &:before {
          position: absolute;
          content: '';
          left: 0;
          top: 2px;
          background: url('../images/sprite/mobile/arrow.png') 0px 0px no-repeat;
          @include size(.5*$back-icon-w,.5*$back-icon-h);
          -webkit-background-size: .5*$back-icon-w .5*$back-icon-h;
          background-size: .5*$back-icon-w .5*$back-icon-h;
        }
        @media (min-width: $mobile-414) {
          &:before {
            top: 5px;
          }
        }
        @media (min-width: $mobile-600) {
          font-size: 2.5em;
          padding-left: 45px;
          &:before {
            top: 4px;
            @include size($back-icon-w,$back-icon-h);
            -webkit-background-size: $back-icon-w $back-icon-h;
            background-size: $back-icon-w $back-icon-h;
          }
        }
        @media (min-width: $mobile-736) {
          &:before {

          }
        }
      }
      .menu {
        &.section-title {
          min-height: 10px;
          height: auto;
        }
        padding-top: 0;
        display: block;
        float: right;
        padding-left: 30px;
        position: relative;
          &:before {
            position: absolute;
            content: '';
            left: 0;
            top: 3px;
            background: url('../images/sprite/mobile/menu_36x30.png') 0px -0px no-repeat;
            @include size(.5*$small-mobile-menu-icon-w,.5*$small-mobile-menu-icon-h);
            -webkit-background-size: .5*$small-mobile-menu-icon-w .5*$small-mobile-menu-icon-h;
            background-size: .5*$small-mobile-menu-icon-w .5*$small-mobile-menu-icon-h;
          }
        @media (min-width: $mobile-414) {
          &:before {
            top: 7px;
          }
        }
        @media (min-width: $mobile-600) {
          padding-left: 70px;
          font-size: 2.5em;
          &:before {
            left: 18px;
            top: 6px;
            @include size($small-mobile-menu-icon-w,$small-mobile-menu-icon-h);
            -webkit-background-size: $small-mobile-menu-icon-w $small-mobile-menu-icon-h;
            background-size: $small-mobile-menu-icon-w $small-mobile-menu-icon-h;
          }
        }
        @media (min-width: $mobile-736) {
          &:before {

          }
        }
      }
      margin-bottom: 8px;
      @media (min-width: $mobile-600) {
        margin-bottom: 100px;
      }
    }
    .menu-block-section {
      text-align: left;
      .quests-list {
        li {
          margin-bottom: 5px;
        }
        padding-bottom: 30px;
      }
      li {
        display: block;
        margin-bottom: 30px;
        @media (min-width: $mobile-600) {
          margin-bottom: 60px;
        }
        a {
          text-transform: uppercase;
          text-decoration: none;
          position: relative;
          @include border-box;
          display: block;
          font-size: 1em;
          @media (min-width: $mobile-600) {
            font-size: 2em;
          }
          color: $dark-black;
          span {
            position: relative;
            @include border-box;
            padding-right: 34px;
          }
        }
        &.active {
          a {
            span {
              &:before {
                position: absolute;
                content: '';
                right: 0;
                top: 6px;
                background: url('../images/sprite/mobile/arrow_16x14.png') 0 0 no-repeat;
                @include size(.5*$small-mobile-arrow-w, .5*$small-mobile-arrow-h);
                -webkit-background-size: .5*$small-mobile-arrow-w .5*$small-mobile-arrow-h;
                background-size: .5*$small-mobile-arrow-w .5*$small-mobile-arrow-h;
              }
            }
          @media (min-width: $mobile-600) {
            span {
              &:before {
                top: 15px;
                @include size($small-mobile-arrow-w, $small-mobile-arrow-h);
                -webkit-background-size: $small-mobile-arrow-w $small-mobile-arrow-h;
                background-size: $small-mobile-arrow-w $small-mobile-arrow-h;
              }
            }
            }
          }
        }
        &.inactive {
          a {
            color: $light-brown;
          }
        }
      }
    }
  }
}