.mobile {
  &.portfolio {
    @extend %standard-header;
    .works-list>li {
      vertical-align: bottom;
    }
  }
  @media (max-width: 500px) {
    .portfolio .menu-section .dark-section-title {
      display: block;
      margin-right: 0;
    }
  }
  .our-work {
    .small-block.rb {
      .img-list {
        li {
          display: inline-block;
          vertical-align: top;
          img {
            vertical-align: bottom;
          }
          .work-description {
            &:before {
              left: -31px;
            }
          }
        }
      }
    }
    .img-list {
      .work-description {
        &:before {

        }
        @media (max-width: 500px) {
          width: 250px;
          padding: 5px 5px 75px !important;
        }
      }
    }
    .small-block {
      float: none;
      width: 100%;
    }
  }
}