.content-wrapper {
  width: $content-frame-w;
  margin: 0 auto;
}

.content-block {
  padding: 40px 0;
  background: $base-color;
  position: relative;
  z-index: 2;
  text-align: left;
  h2 {
    line-height: 1.2;
    font: {
      size: 48px;
    }
    text-transform: uppercase;
    color: $dark-black !important;
    margin: 0 0 25px 0;
    font-weight: normal;
  }
  p {
    font: {
      family: "Circe-Light", sans-serif;
      size: 18px;
    }
    line-height: 1.2;
    color: $dark-black !important;
    span {
      font: {
        family: "Circe-Bold", sans-serif;
      }
    }
    &.gray {
      color: $middle-gray !important;
    }
  }
  .section-description {
    line-height: 1.2;
    font: {
      size: 24px;
    }
    &.black {
      color: $dark-black;
    }
  }
}