$menu-layout-center-wrapper-w: 1158px;
$menu-logo-w: 61px;
$menu-logo-h: 78px;
body {
  position: relative;
}
.menu-section-main {
  .contacts {
    position: relative;
    top: auto;
    @include transform(translateY(0));
    right: auto;
    margin-top: 5px;
  }
  display: none;
  &.active {
    display: block;
  }
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  height: 989px;
  min-height: 100%;
  min-height: 100vh;
  background: $yellow;
  padding-top: 58px;
  @include border-box;
  .layout-center-wrapper {
    width: $menu-layout-center-wrapper-w;
    margin: 0 auto;
    display: block;
  }
  .close {
    float: left;
    position: relative;
    @include border-box;
    display: block;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    padding-left: 40px;
    color: $base-color;
    font: {
      family: "Circe-Bold", sans-serif;
      size: 24px;
    }
    &:before {
      position: absolute;
      content: '';
      @include size(23px,23px);
      left: 0;
      top: 5px;
      background: url('../images/sprite/sprite.png') -222px -134px no-repeat;
    }
  }
  .logo-block {
    float: left;
    position: relative;
    top: -43px;
    margin-left: 80px;
    .logo {
      padding-right: 26px;
      position: relative;
      top: 14px;
      float: left;
      @include size($menu-logo-w, $menu-logo-h);
      background: url("../images/logo_61x78.png") 0 0 no-repeat;
    }
    .company-info {
        float: left;
        .company-name {
          line-height: 1;
          padding-top: 36px;
          font: {
            size: 30px;
          }
        }
        .company-description {
          font: {
            size: 14px;
          }
        }
      }
  }
  .contacts {
    float: right;
    font-size: 21px;
    margin-top: -12px;
    .link {
      text-decoration: none;
      position: relative;
      &:before {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        border: 1px dashed $base-color;
      }
    }
  }
  header {
    margin-bottom: 180px;
  }
 .logo-block {
   margin-bottom: 50px;
 }
  .menu-block-section {
    text-align: left;
    .block-title {
      text-decoration: none;
      margin-right: 50px;
      display: inline-block;
      vertical-align: top;
      &.inactive {
        cursor: default;
        color: $light-brown;
      }
      &.open-submenu {
        position: relative;
        &:before {
          position: absolute;
          content: "";
          display: block;
          width: 16px;
          height: 14px;
          top: 18px;
          right: -25px;
          background: url("../images/up-down.png") 0 0 no-repeat;
        }
      }
    }
    .back-to-prev {

      margin-left: 20px;
      display: inline-block;
      vertical-align: top;
      text:
      {
        transform: uppercase;
        decoration: none;
      }
      @include border-box;
      padding-left: 30px;
      color: $light-brown;
      font-size: 14px;
      position: relative;
      top: 14px;
      &:hover {
        text-decoration: underline;
      }
      &:before {
        position: absolute;
        content: '';
        @include size(14px,13px);
        left: 0;
        top: 3px;
        background: url('../images/sprite/sprite.png') -222px -162px no-repeat;
      }
      margin-bottom: 0;
    }
    margin-bottom: 48px;
  }
  .quests {
    text-align: left;
    .quests-list {
      display: inline-block;
      list-style: none;
      font-size: 18px;
      li {
        margin-right: 38px;
        margin-bottom: 24px;
        &:last-child {
          margin-right: 0;
        }
        display: inline-block;
        a {
          font-size: 18px;
          text-decoration: none;
          text-transform: uppercase;
          color: $light-black;
        }
      }
    }
  }
  .social {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100px;
    .social-list {
      li {
        display: inline-block;
        margin-right: 80px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
