.portfolio {
  .menu-section {
    text-align: right;
    background: $light-gray;
    padding: 34px 0 30px;
    .layout-center-wrapper {
      text-align: left;
      @media (max-width: $screen-1280) {
       // left: 74px !important;
      }
      @media (max-width: $screen-1366) {
        //left: -28px;
      }
    }
    .dark-section-title {
      text-align: left;
      display: inline-block;
      vertical-align: top;
      margin-right: 30px;
    }
    .extrasmall-title {
      text-align: left;
      color: $middle-gray;
      display: inline-block;
      vertical-align: top;
      padding-top: 15px;
    }
  }
}