$quest-screen-h: 1136px;

.quest-screen {
  text-align: right;
  @include border-box;
  padding-top: 60px;
  .layout-center-wrapper {
    text-align: left;
    @media (max-width: $screen-1280) {
      left: 0;
    }
    @media (min-width: $max-body-w) {
      right: -100px;
    }
  }
  @include size(100%,$quest-screen-h);
  background: $bg-color url("../images/bg-quest.png") center 0 no-repeat;
  header {
    margin-bottom: 58px;
  }
  .quest-name {
    font-size: 48px;
    color: $base-color;
    margin-bottom: 40px;
  }
  .text-block {
    max-width: 700px;
    color: $base-color;
    margin-bottom: 106px;
  }
  .btn {
    @include size(280px,55px);
    line-height: 57px;
  }
  .main-menu-container {
    .main-menu {
      li {
        a {
          font-size: 22px;
          &.menu {
            &:before {
              position: absolute;
              content: '';
              @include size(23px,23px);
              left: 0;
              top: 5px;
              background: url('../images/sprite/sprite.png') -222px -134px no-repeat;
            }
          }
          span {
            position: relative;
            &:before {
              position: absolute;
              content: '/';
              right: -21px;
              top: 0;
            }
          }
        }
      }
    }
  }
}

.quests-information.block-section {
  .programs-descriptions .dark-section-title {
    padding-top: 80px;
  }
}

.quest-screen ~ .bottom-menu .main-menu-container {
  padding-top: 17px;
}

.quest-screen ~ .bottom-menu {
  padding-bottom: 23px;
}

.quest-screen ~ .bottom-menu .main-menu-container .main-menu li a {
  font-size: 21px;
  &.menu {
    &:before {
      top: 6px;
    }
  }
}