.quest-description {
  width: 100%;
  .quest-table {
    background: $base-color;
    width: 100%;
    td {
      width: 50%;
      vertical-align: top;
    }
  }
  .dark-section-title {
    margin-bottom: 25px;
  }
  .text-block {
    padding-bottom: 0;
    margin-bottom: 20px;
    ul, ol {
      @include border-box;
      padding-left: 15px;
      margin-bottom: 20px;
    }
  }
}

.holiday-text {
  padding-top: 40px;
  text-align: right;
  position: relative;
}

.holiday-block {
  position: relative;
  text-align: left;
  display: inline-block;
  padding-right: 70px;
  @include border-box;
  width: 510px;
  @media (max-width: $screen-1280) {
    width: 557px;
  }
  @media (min-width: $max-body-w) {
    width: 100%;
    padding-left: 46px;
  }
}
.show-quest {
  position: absolute;
  padding-right: 70px;
  @include border-box;
  width: 440px;
  bottom: 40px;
  right: 0;
  text-align: left;
  .dark-section-description {
    text-align: left;
    font-size: 30px;
    max-width: 370px;
    margin-bottom: 20px;
  }
  .btn {
    display: inline-block;
    @include size(249px,61px);
    line-height: 63px;
    font: {
      family: "Circe-Bold", sans-serif;
    }
  }
  @media (min-width: $max-body-w) {
    width: 100%;
    padding-left: 46px;
    bottom: 90px;
    .dark-section-description {
      margin-bottom: 0;
      float: left;
    }
    .btn {
      float: right;
    }
  }
}

.holiday-gallery-list {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  li {
    display: inline-block;
    width: 50% !important;
    vertical-align: bottom;
    &:hover {
      cursor: pointer;
    }
    &.hidden {
      display: none;
    }
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      &:hover {
        @include transform(scale(1.1));
        @include blur(0);
        @include transform(scale3d(1.1,1.1,1.1));
      }
    }
  }
  @media (min-width: $max-body-w) {
    li {
      width: 25% !important;
      &.hidden {
        display: inline-block;
      }
    }
  }
}

.quest-video {
  text-align: right;
  padding-top: 80px;
  background: rgba($yellow,.2);
  .layout-center-wrapper {
    width: $calculate-wrapper-w;
    margin: 0 auto;
    position: relative;
    @media (max-width: $screen-1280) {
      left: 112px;
    }
    @media (min-width: $max-body-w) {
      left: 103px;
    }
    @media (max-width: $screen-1366) {
      text-align: right;
      .calculate-wrapper {
        display: inline-block;
        left: 0;
      }
    }
  }
  .video-list {
    position: relative;
    list-style: none;
    text-align: left;
  }
  &.single-layout {
    .video-list {
      .video-item {
        display: block;
        margin: 0 auto;
        @include size(.5*$video-w, .5*$video-h);
        video {
          position: relative;
          top: auto;
          @include size(.5*$video-w, .5*$video-h);
          @include transform(translateY(0));
          left: 0;
          margin-left: 0;
          min-width: unset;
          min-height: unset;
        }
      }
    }
  }
  &.double-layout {
    .video-list {
      .video-item {
        display: inline-block;
        @include size(576px, 324px);
        video {
          position: relative;
          top: auto;
          @include size(576px, 324px);
          @include transform(translateY(0));
          left: 0;
          margin-left: 0;
          min-width: unset;
          min-height: unset;
        }
        margin-bottom: 80px;
        &:nth-child(odd) {
          float: left;
        }
        &:nth-child(even) {
          margin-right: 14px;
          float: right;
        }
      }
    }
  }
  position: relative;
  iframe {
    @extend %full-size-absolute;
  }
}