/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-controls {
  position: relative;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-indent: -9999px;
}

.owl-carousel .owl-controls .owl-nav {
  position: relative;
}

.owl-carousel .owl-controls .owl-nav .owl-prev {
  display: none !important;
}

.owl-carousel .owl-controls .owl-nav .owl-next {
  display: block;
  position: absolute;
  bottom: 380px;
  right: -180px;
  width: 85px;
  height: 85px;
  background: url("../images/navigation.png") no-repeat 0 0;
}

.owl-carousel.places .owl-controls .owl-nav .owl-next {
  top: 31px;
  bottom: 0;
  right: -67px;
  width: 67px;
  height: 152px;
  background: #F8F8F8;
}

@media (min-width: 1260px) {
  .owl-carousel.places .owl-controls .owl-nav .owl-next {
    top: -252px;
  }
}



.owl-carousel.places .owl-controls {
 /* position: absolute;
  top: 0;
  bottom: 0;
  height: 152px;*/
}

.owl-carousel.places .owl-controls .owl-nav {
  /*position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;*/
}

.owl-carousel.places .owl-controls .owl-nav .owl-next:before {
  position: absolute;
  width: 41px;
  height: 41px;
  content: '';
  top: 53px;
  left: 13px;
  background: url("../images/sprite/nav.png") no-repeat 0 0;
}


.team-mates .owl-controls .owl-dots .owl-dot {
  display: inline-block;
  margin-right: 10px;
  width: 10px;
  height: 10px;
  background-color: #b28c31;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.team-mates .owl-controls .owl-dots .owl-dot:last-child {
  margin-right: 0;
}

.team-mates .owl-carousel.places .owl-controls .owl-dots {
  display: none !important;
}

.team-mates.owl-carousel .owl-controls {
  text-align: center;
  height: 20px;
  bottom: 20px;
}

@media (min-width: 1920px) {
  .owl-carousel.team-mates {
    display: block;
  }
}

.team-mates .owl-controls .owl-dots .owl-dot.active {
  background-color: #000;
}

.team-mates .owl-carousel.team-mates .owl-controls .owl-dots .owl-dot {
  background-color: #B28C31;
}

.team-mates .owl-carousel.team-mates .owl-controls .owl-dots .owl-dot.active {
  background-color: #000;
}

.mobile .owl-controls {
  display: block !important;
  position: absolute !important;
  top: -30px !important;
  left: 0 !important;
  right: 0 !important;
  height: 17px !important;
  text-align: center;
}

.mobile .owl-controls .owl-dots {
  display: inline-block;
}


.mobile .owl-controls .owl-dots .owl-dot {
  display: inline-block;
  margin-right: 10px;
  width: 17px;
  height: 16px;
  background-color: #999;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.mobile .owl-controls .owl-dots .owl-dot:last-child {
  margin-right: 0;
}

.mobile .owl-carousel.places .owl-controls .owl-dots {
  display: none !important;
}

.mobile .owl-controls .owl-dots .owl-dot.active {
  background-color: #FFC946;
}

.mobile .owl-carousel.team-mates .owl-controls .owl-dots .owl-dot {
  display: inline-block;
  margin-right: 10px;
  width: 17px;
  height: 16px;
  background-color: #b28c31;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.mobile .owl-carousel.team-mates .owl-controls .owl-dots .owl-dot.active {
  background-color: #000;
}

.owl-carousel.owl-loaded {
  display: block;
}


.owl-carousel.program-table.owl-loaded {
  display: none;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}

.team-mates.owl-carousel .owl-item {
  padding-top: 20px;
}

.mobile .team-mates.owl-carousel .owl-item {
  padding-top: 0;
}

.mobile .programs-table.owl-carousel .owl-item {
  width: 100vw !important;
}

.owl-carousel .owl-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}

/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}

.team-mates.owl-carousel .owl-controls {
  height: 20px;
  bottom: -5px;
  top: auto;
}

.mobile .owl-carousel.team-mates .owl-controls {
  bottom: 30px;
  top: auto !important;
}

.mobile #places .owl-controls {
  z-index: 5;
  top: 0 !important;
  bottom: 0;
  right: 0 !important;
  left: auto !important;
  width: 100%;
}
.mobile .owl-carousel.places .owl-controls .owl-nav {
  height: 152px;
  position: absolute;
  right: 0;
}
.mobile .owl-carousel.places .owl-controls .owl-nav .owl-next {
  top: 0;
  left: 0;
}

@media (max-width: 500px) {
  .mobile .owl-carousel.places .owl-controls .owl-nav {
    left: 152px;
  }
}

.mobile .owl-carousel.places .owl-controls .owl-nav {
  left: 496px;
}